@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

button {
  font-family: "Montserrat", sans-serif;
  padding: 5px 10px;
  border: solid 1px #FFFF;
  border-radius: 3px;
  margin: 1px;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.header-component {
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

form {
  background-color: #bfd7ea;
  padding: 20px;
}

.logo {
  width: 100px;
}

.create-task-bar-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

label {
  margin: 0 10px;
}

input[type=text], input[type=email] {
  margin-left: 5px;
}

.error-message {
  background-color: #ef959d;
  border-radius: 5px;
  padding: 15px;
  margin-top: 10px;
}

.todo-component {
  margin: 20px auto;
  max-width: 840px;
  display: flex;
  flex-direction: column;
}

.navigate {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border: solid 1px black;
  color: black;
  text-decoration: none;
  opacity: 0.6;
}

.pending {
  background-color: #fcddbc;
}

.done {
  background-color: #b8d8ba;
}

.selected {
  opacity: 1;
}

.move-button {
  background-color: #88a2aa;
}

.done-button {
  background-color: #4ABA58;
}

.create-button {
  background-color: #52ee67;
}

.delete-button {
  background-color: #f42c04;
}

table {
  background-color: #bfd7ea;
  padding: 20px;
  border-radius: 10px;
}

tbody tr:nth-child(odd){
  background-color: #afc6d8;
}

td {
  padding: 2px 5px;
}